/*

Rancupid Custom Theme

*/

header.menu-3.scrol
{
	/*background:none;*/
	/*opacity: 0.3; */
	border-color: black;
}

header.menu-3.scrol a
{
	color:black; 
}

.menu-3.type-5.scrol nav>ul>li>a
{
	color: black;	
}