.tripDescription
{
  resize:vertical;
}


.closebtn:hover {
    color: black;
}


.header_quantityprice
{
	background-color: #eeeeee;
}

hr.devider{
  border-top: 1px solid #8c8b8b;
}

/* ======================================== gmaps =============================================== */

      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

/* ====================================== end gmaps ============================================= */

/* ======================================== gmaps =============================================== */

      #mapMePo {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #pac-inputMepo {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-inputMepo:focus {
        border-color: #4d90fe;
      }

      #type-selectorMepo {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selectorMepo label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

/* ====================================== end gmaps ============================================= */


#Searcha {
    font-size: 24px;
    color: #fff;
    line-height: 24px;
    padding: 17px 18px;
    position: absolute;
    right: 0px;
    border-right: 1px solid rgba(255,255,255,0.5);
    height: 60px;
    z-index: 50;
}


#removeUploadedPhotoa
{
  position: absolute;
  right:15px;
}

.Uploaded-destination-photo
{
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
}

.Uploaded-destination-photo img
{

    height:  100%;
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
}

.Uploaded-destination-photo button
{
  padding: 5px 5px;
}

.removeUploadedPhotoBtn
{
  position: absolute; 
  margin:auto;
  right: 0;
}

.photo-action
{
  visibility: hidden;
}

.checkmark
{
  margin:45% 0 0 45%;
}

/* ==================================== popup gallery =========================================== */

/* ====================================== end popup gallery ===================================== */

/* ========================================== select 2 ========================================== */
  /*********************************
  Author : Techhysahil
  Link : http://techhysahil.com
  *********************************/
  .wrapper-content{
    display: block;
      width: 200px;
      margin: 0 auto;
      padding: 50px 150px;
      border: 3px solid #48c9b0;
      font-family: Roboto, Helvetica;
  }
  .title{
      display: block;
      padding-top: 5px;
      font-size: 17px;
      font-weight: 700;
      color: rgba(52, 73, 94, .3);
      letter-spacing: 0;
      font-size: 18px;
      line-height: 1.72222;
  }

  /********************
  Select2 Override style
  *********************/


  /* Assign min-width to container */
  .select2-container{
      min-width:200px;
      font-family: Roboto, Helvetica;
  }
  /*********************************
  Author : Techhysahil
  Link : http://techhysahil.com
  *********************************/

  $flat-theme-light-color : #48c9b0;
  $flat-theme-dark-color : #16a085;

  .select2-container--open .select2-dropdown--below,
  .select2-container--open .select2-dropdown--above{
    background: $flat-theme-light-color;
  }
  .select2-container--flat{
    .select2-container--focus .select2-selection--multiple{
      border: 1px solid $flat-theme-dark-color;
    }
    .select2-results__option--highlighted[aria-selected]{
      background: $flat-theme-dark-color !important;
      color: #ffffff;
    }
    .select2-results__option[aria-selected=true]{
      background: $flat-theme-dark-color;
      color: #fff;
      opacity: 0.8;
    }
    .select2-selection--single{
      border-radius:0px;
    }
    &.select2-container--open{
      .select2-selection__arrow{
        b{
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
        }
      }
    }
    span.select2-search{
      input {
        height: 30px !important;
      }
    }
  }

  .select2-container{
    .select2-choice {
      border: 2px solid #dce4ec;
      height: 36px;
      border-radius: 0px ;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      text-indent: 1px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: none;
      div {
        border-left: 2px solid #dce4ec;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;

        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
      }
      .select2-arrow{
        border: 0px;
        border-radius: 0px;
        background: transparent;
        background-image: none;
      }
    }
    *:focus{
      outline:0px;
    }
    &.select2-drop-above .select2-choice {
      border-bottom-color: #dce4ec;
      border-radius:0px;
    }
  }

  .select2-drop {
    margin-top: -2px;
    border: 2px solid #dce4ec;
    border-top: 0;
    border-radius: 0px !important;
    -webkit-border-radius:0 0 6px 6px;
    -moz-border-radius:0 0 6px 6px;
    border-radius:0 0 6px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &.select2-drop-above {
      margin-top: 2px;
      border-top: 2px solid #dce4ec;
      border-bottom: 0;
      -webkit-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      border-radius: 6px 6px 0 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  .select2-search{
    margin-top: 3px;
    input {
      height: 26px;
      border: 2px solid #dce4ec;
    }
  }

  .select2-container-active .select2-choice,
  .select2-container-active .select2-choices {
    border: 2px solid #dce4ec;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .select2-dropdown-open .select2-choice {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    .select2-choice div {
      background: transparent;
      border-left: none;
      filter: none;
    }
  }

  .select2-results{
    padding: 0 0 0 0px;
    margin: 4px 0px 0px 0;
    .select2-highlighted {
      background: $flat-theme-dark-color;
      color: #fff;
      border-radius: 0px;
    }
  }

  .select2-container-multi{
    .select2-choices {
      height: auto !important;
      height: 1%;

      border: 2px solid #dce4ec;
    }
    &.select2-container-active .select2-choices {
      border: 2px solid #dce4ec;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  /****** Single SCSS *******/
  .select2-container--flat{
    .select2-selection--single{
      background: $flat-theme-light-color;
      border: 0px;
      height:34px;
      .select2-selection__rendered{
        color: #fff;
        line-height:34px;
      }
      .select2-selection__arrow{
        height: 26px;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 20px;
        b {
          border-color: #fff transparent transparent transparent;
          top: 60%;
          border-style: solid;
          border-width: 5px 4px 0 4px;
          height: 0;
          left: 50%;
          margin-left: -4px;
          margin-top: -2px;
          position: absolute;
          width: 0;
        }
      }
      .select2-selection__placeholder {
        color: #fff;
      }
      .select2-selection__arrow b {

      }
      .select2-selection__clear {
        cursor: pointer;
        float: right;
        font-weight: bold;
      }
    }
  }

  /****** Multiple SCSS *******/
  .select2-container--flat{
    .select2-selection--multiple{
      border: 1px solid $flat-theme-dark-color;
      .select2-selection__choice__remove:hover{
        color: $flat-theme-dark-color;
        cursor: pointer;
      }
      .select2-selection__rendered {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0 5px;
        width: 100%;
      }
      .select2-selection__choice{
        background-color: $flat-theme-light-color;
        color: #fff;
        border: 1px solid $flat-theme-light-color;
        border-radius: 0px;
        padding: 3px 5px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
      }
      .select2-selection__choice__remove{
        color: $flat-theme-dark-color;
        margin-right: 6px;
        margin-left: 6px;
        float: right;
      }
    }
  }
/* ========================================= end select 2 ======================================= */


.box-footer
{
  font-size: 12px;
}

.box-footer span i
{
  font-size : 11px;
}

.no-pad
{
  padding: 0;
}

#example1 thead tr th
{
  text-align:center;
}

.important_info
{
  color : red;
  font-style: normal;
}

/* ============================================= toggle =========================================== */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
/* ========================================= end toggle =========================================== */

/* ====================================== gallery add trip ======================================== */
  .icheckbox_flat-blue
  {
    border: 1.5px white solid;
    border-radius: 5px;
    color:white;
  }

    .gallery {
      width: 600px;
      margin: auto;
      border-radius: 3px;
      overflow: hidden;
      //position: relative;
    }
    .img-c {
      width: 200px;
      height: 200px;
      float: left;
      position: relative;
      overflow: hidden;
    }

    .img-w {
      transform: scale(1.08);
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      transition: transform ease-in-out 300ms;
    }

    .img-w img {
      display: none;
    }

    .img-c {
        transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
    }

    .img-c:hover .img-w {
      /*transform: scale(1.08);*/
      transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
    }

    .img-c.active {
      width: 100% !important;
      height: 100% !important;
      position: absolute;
      z-index: 2;
      //transform: translateX(-50%);
    }

    .img-c.postactive {
      position: absolute;
      z-index: 2;
      pointer-events: none;
    }

    .img-c.active.positioned {
      left: 0 !important;
      top: 0 !important;
      transition-delay: 50ms;
      z-index: 4;
    }

    .gallery h4{
      text-align:center;
    }

    .no-photo{
      text-align:center;
      margin: 3em;
    }
/* ====================================== gallery add trip ======================================== */